@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.eot),
        url(../fonts/OpenSans-Bold.woff) format('woff'),
        url(../fonts/OpenSans-Bold.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.eot),
        url(../fonts/OpenSans-Light.woff) format('woff'),
        url(../fonts/OpenSans-Light.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.eot),
        url(../fonts/OpenSans-Regular.woff) format('woff'),
        url(../fonts/OpenSans-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-SemiBold.eot),
        url(../fonts/OpenSans-SemiBold.woff) format('woff'),
        url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
  font-family: PasswordMask;
  src: url(../fonts/Password.eot),
        url(../fonts/Password.woff) format('woff'),
        url(../fonts/Password.ttf) format('truetype');
}