$COLOR_DARK_BG: #292c39;

$COLOR_PANEL: #14171f;
$COLOR_PANEL_BG: #0c0d10;

$COLOR_VIDEO: #1a224c;
$COLOR_VIDEO_ACTIVE: #25306b;

$COLOR_AUDIO: #2f4219;
$COLOR_AUDIO_ACTIVE: #445f25;

$COLOR_IMAGE: #4a371a;
$COLOR_IMAGE_ACTIVE: #654b24;

$COLOR_TEXT: #163a3a;
$COLOR_TEXT_ACTIVE: #246565;


$COLOR_BG_BLUE: #02042D;
$COLOR_WHITE: #FFFFFF;
$COLOR_GREY: #F2F2F2;
$COLOR_GREY_INPUT: #E0E0E0;

$COLOR_BTN_YELLOW: #FDCD09;
$COLOR_BTN_YELLOW_ACTIVE: #FFE26B;
$COLOR_BTN_BLUE: #5872B7;
$COLOR_BTN_BLUE_ACTIVE: #7D97DA;
$COLOR_BTN_TEXT_DARK: #02042D;
$COLOR_BTN_TEXT_LIGHT: #FFFFFF;
$COLOR_RULES_TEXT_DARK: #626886;

$COLOR_ADD_DARK: #323E62;
$COLOR_FORM_BORDER: #323E62;

$COLOR_LIST_BORDER: #E0E0E0;

$COLOR_ERROR_RED: #FF3B30;

$COLOR_FORMFILE: #C4C4C4;

$COLOR_FOOTER_MENU_INACTIVE: #A1A1A1;
$COLOR_FOOTER_MENU_ACTIVE: #FFCF0F;

$COLOR_GREY_TITLE: #E0E0E0;
$COLOR_GREY_TEXT: #FFFEFE;
$COLOR_BLUE_DESCRIPTION: #737CA9;

$COLOR_LIGHT_BLUE: #5BC9E1;
$COLOR_LIGHT_BLUE_ACTIVE: #85DCEF;

$COLOR_ADD_DARK_05: #1a2147;
$COLOR_ADD_DARK_00: rgba(26, 33, 71, .8);