.restore-password-page {

    background-color: $COLOR_WHITE;

    &__bg {
        width: 100%;
        height: 19.7rem;
    }

    &__container {
        background-color: $COLOR_WHITE;
        border-radius: 1.5625rem 1.5625rem 0 0;
        top: -1.5625rem;
        position: relative;
        flex: 1;
        padding: 0 1rem;

        display: flex;
        flex-direction: column;
        //justify-content: space-between;

        .subtitle {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 100%;
            font-weight: bold;
            font-size: 1.4375rem;
            line-height: 1.9375rem;
            color: $COLOR_BG_BLUE;
            padding: 2.1875rem 1rem 0;
        }
    }

    &__type1 {
        margin-top: 2.1875rem;
        display: flex;
        flex-direction: column;

        .restore-password-page__text + .form-phone {
            margin-top: 2.25rem;
        }
    }

    &__type2 {
        margin-top: 2.1875rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
    }

    &__text {
        font-size: 1.0625rem;
        line-height: 1.4375rem;
        color: $COLOR_BG_BLUE;
        text-align: center;
        padding: 0 1rem;
    }

    &__text-lower {
        font-size: .875rem;
        line-height: 1.1875rem;
        text-align: center;
        padding: 0 1rem;
        color: $COLOR_RULES_TEXT_DARK;
    }

    .four-in-row {
        align-items: center;
        justify-content: center;
        margin-top: 2.375rem;
        margin-bottom: 2.375rem;
    }

    .counter {
        margin-top: 1.375rem;
    }

    .page__bottom {
        padding: 1rem 1rem 2rem 1rem;
    }
}