.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span {
        font-weight: bold;
        text-align: center;
        font-size: 1.0625rem;
        line-height: 1.4375rem;
    }

    span + span {
        margin-left: .275rem;
    }
}