.gender-select {

    display: flex;
    flex-direction: column;

    &__wrapper{

    }

    &__container {
        display: flex;
        flex-direction: row;
    }

    &__item {
        width: 50%;
        padding: 1.3125rem;
        background-color: $COLOR_ADD_DARK;
        border-radius: 4px;
        color: $COLOR_WHITE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: .875rem;
        line-height: 1.1875rem;
        transition: all .25s ease;

        &:first-child {
            margin-right: .5rem;
        }
        &:last-child {
            margin-left: .5rem;
        }

        &.female {
            .img {
                width: 1.0625rem;
                height: 1.5625rem;
                margin-bottom: .5rem;
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 25"><path fill="rgba(253,255,255,1)" d="M14.173,14.168c3.238-3.236,3.238-8.503,0-11.74c-3.237-3.237-8.506-3.237-11.744,0c-3.238,3.237-3.238,8.504,0,11.74c1.371,1.371,3.105,2.16,4.895,2.371v2.779H5.37c-0.54,0-0.977,0.438-0.977,0.977s0.438,0.977,0.977,0.977h1.954v2.752C7.324,24.563,7.761,25,8.301,25s0.977-0.438,0.977-0.977v-2.752h1.955c0.539,0,0.977-0.438,0.977-0.977s-0.438-0.977-0.977-0.977H9.277v-2.779C11.068,16.328,12.803,15.539,14.173,14.168z M3.81,12.787c-2.476-2.475-2.476-6.503,0-8.978s6.505-2.476,8.981,0c2.477,2.475,2.477,6.503,0,8.978C10.315,15.263,6.286,15.263,3.81,12.787z"/></svg>')
            }
        }

        &.male {
            .img {
                width: 1.5625rem;
                height: 1.5625rem;
                margin-bottom: .5rem;
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25 25"><path fill="rgba(253,255,255,1)" d="M24.986,0.907c-0.012-0.09-0.031-0.176-0.064-0.257c0-0.002,0-0.005-0.001-0.007c0,0-0.001-0.001-0.001-0.001c-0.036-0.085-0.086-0.163-0.141-0.235c-0.014-0.017-0.027-0.034-0.043-0.05c-0.059-0.067-0.123-0.129-0.198-0.18c-0.002-0.001-0.005-0.002-0.007-0.003c-0.072-0.048-0.152-0.084-0.236-0.112c-0.021-0.007-0.041-0.014-0.063-0.02C24.145,0.017,24.054,0,23.959,0h-7.293c-0.574,0-1.041,0.467-1.041,1.042c0,0.575,0.467,1.042,1.041,1.042h4.777l-6.217,6.217c-1.658-1.326-3.7-2.051-5.852-2.051C4.206,6.25,0,10.456,0,15.625S4.206,25,9.375,25s9.375-4.206,9.375-9.375c0-2.15-0.725-4.191-2.051-5.851l6.217-6.218v4.777c0,0.575,0.467,1.042,1.043,1.042C24.533,9.375,25,8.908,25,8.333V1.042c0-0.021-0.005-0.042-0.006-0.064C24.992,0.954,24.99,0.931,24.986,0.907z M9.375,22.916c-4.021,0-7.292-3.27-7.292-7.291c0-4.021,3.271-7.292,7.292-7.292c1.947,0,3.779,0.758,5.158,2.131c1.375,1.381,2.133,3.213,2.133,5.161C16.666,19.646,13.396,22.916,9.375,22.916z"/></svg>')
            }
        }

        &.active {

            background-color: $COLOR_BTN_YELLOW;
            color: $COLOR_BG_BLUE;

            &.male {
                .img {
                    width: 1.5625rem;
                    height: 1.5625rem;
                    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25 25"><path fill="rgba(2,4,45,1)" d="M24.986,0.907c-0.012-0.09-0.031-0.176-0.064-0.257c0-0.002,0-0.005-0.001-0.007c0,0-0.001-0.001-0.001-0.001c-0.036-0.085-0.086-0.163-0.141-0.235c-0.014-0.017-0.027-0.034-0.043-0.05c-0.059-0.067-0.123-0.129-0.198-0.18c-0.002-0.001-0.005-0.002-0.007-0.003c-0.072-0.048-0.152-0.084-0.236-0.112c-0.021-0.007-0.041-0.014-0.063-0.02C24.145,0.017,24.054,0,23.959,0h-7.293c-0.574,0-1.041,0.467-1.041,1.042c0,0.575,0.467,1.042,1.041,1.042h4.777l-6.217,6.217c-1.658-1.326-3.7-2.051-5.852-2.051C4.206,6.25,0,10.456,0,15.625S4.206,25,9.375,25s9.375-4.206,9.375-9.375c0-2.15-0.725-4.191-2.051-5.851l6.217-6.218v4.777c0,0.575,0.467,1.042,1.043,1.042C24.533,9.375,25,8.908,25,8.333V1.042c0-0.021-0.005-0.042-0.006-0.064C24.992,0.954,24.99,0.931,24.986,0.907z M9.375,22.916c-4.021,0-7.292-3.27-7.292-7.291c0-4.021,3.271-7.292,7.292-7.292c1.947,0,3.779,0.758,5.158,2.131c1.375,1.381,2.133,3.213,2.133,5.161C16.666,19.646,13.396,22.916,9.375,22.916z"/></svg>')
                }
            }

            &.female {
                .img {
                    width: 1.0625rem;
                    height: 1.5625rem;
                    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 25"><path fill="rgba(2,4,45,1)" d="M14.173,14.168c3.238-3.236,3.238-8.503,0-11.74c-3.237-3.237-8.506-3.237-11.744,0c-3.238,3.237-3.238,8.504,0,11.74c1.371,1.371,3.105,2.16,4.895,2.371v2.779H5.37c-0.54,0-0.977,0.438-0.977,0.977s0.438,0.977,0.977,0.977h1.954v2.752C7.324,24.563,7.761,25,8.301,25s0.977-0.438,0.977-0.977v-2.752h1.955c0.539,0,0.977-0.438,0.977-0.977s-0.438-0.977-0.977-0.977H9.277v-2.779C11.068,16.328,12.803,15.539,14.173,14.168z M3.81,12.787c-2.476-2.475-2.476-6.503,0-8.978s6.505-2.476,8.981,0c2.477,2.475,2.477,6.503,0,8.978C10.315,15.263,6.286,15.263,3.81,12.787z"/></svg>')
                }
            }
        }
    }

    &__label {
        padding-left: 1rem;
        font-size: 1.0625rem;
        line-height: 1.4375rem;
        color: $COLOR_GREY;
        margin-bottom: 0.625rem;
        transition: all .25s ease;

        &.filled {
            padding-left: 0;
            font-size: .8125rem;
            font-weight: bold;
            line-height: 1.4375rem;
            letter-spacing: -.024rem;
            bottom: 1.875rem;
            color: $COLOR_ADD_DARK;
        }
    }
}